{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
  <div class="main-search">
    <h1>Discover A Movie</h1>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form }}
      <input class="btn btn-default" type="submit" value="Search" />
    </form>
  </div>

  {% if error %}
  <div class="error-block">
    <h4>{{ message }}</h4>
  </div>
  {% endif %}

  {% if correction %}
  <div class="suggested-corrections">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{suggested}}" name="search_text">
      <input type="hidden" value="{{field}}" name="search_field">
      <h4>Did you mean <input class="suggested-spelling" type="submit" value="{{suggested}}" > ?</h4>
    </form>
  </div>
  {% endif %}

  {% if hits %}
  <div class="time-taken">
    <h4>{{number}} results found in {{elapsed}} seconds<h4>
  </div>
  {% for hit in hits %}
  <div class="search-result-item">
    <h3>{{ hit.title }}</h3>
    <p>{{ hit.overview }}</p>
  </div>
  {% endfor %}
  {% endif %}
{% endblock %}
